body {
  margin: 0;
  background-color: #1c2021;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2021;
}

.Terminal {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: black;
  width: 500px;
  height: 500px;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.Log {
  margin-bottom: 10px;
}
