body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 20px;
  background-color: black;
  width: 550px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
